$page-sides-offset-all: 4rem;
$page-sides-offset-1320: 3.5rem;
$page-sides-offset-920: 3rem;
$page-sides-offset-720: 2rem;
$page-sides-offset-420: 1rem;
$page-sides-offset-360: 0.5rem;
$page-sides-offset-320: 0.25rem;

:root {
  --page-sides-offset: $page-sides-offset-all;
  @media screen and (width <= 1320px) {
    --page-sides-offset: #{$page-sides-offset-1320};
  }
  @media screen and (width <= 920px) {
    --page-sides-offset: #{$page-sides-offset-920};
  }
  @media screen and (width <= 720px) {
    --page-sides-offset: #{$page-sides-offset-720};
  }
  @media screen and (width <= 420px) {
    --page-sides-offset: #{$page-sides-offset-420};
  }
  @media screen and (width <= 360px) {
    --page-sides-offset: #{$page-sides-offset-360};
  }
  @media screen and (width <= 360px) {
    --page-sides-offset: #{$page-sides-offset-320};
  }
}