@import '@/styles/dynamic-variables';
@import '@/styles/static-variables';
@import '@/styles/colors';
@import '@/styles/mixins';

#main-page {
  background: $bg-gray-300;
  margin-top: $header-height;
  overflow-y: auto;
}